doctype html
html
    head
        title rts
        meta(charset='utf-8')
        meta(http-equiv='Content-Security-Policy' content="default-src * 'unsafe-inline'")
        link(rel='stylesheet' href='css/style.css' type='text/css')
        link(rel='stylesheet' href='css/dark.css'  type='text/css', id='style-link')
    body
        #titlebar
        #main
    script.
        require('./window.js')
    