
//  0000000  000000000  000   000  000    
// 000          000      000 000   000    
// 0000000      000       00000    000    
//      000     000        000     000    
// 0000000      000        000     0000000

frameWidth   = 6px
fontMono     = "Meslo LG S", "Bitstream Vera Sans Mono", "Menlo", "Cousine", "DejaVu Sans Mono", "Andale Mono", monospace
titlebarFont = Bahnschrift Light, Helvetica Neue, Ebrima, Varela Round, Helvetica, Arial
borderColor  = #151515
// border       = 50px solid borderColor
border       = 50px solid transparent

// 0000000     0000000   0000000    000   000
// 000   000  000   000  000   000   000 000 
// 0000000    000   000  000   000    00000  
// 000   000  000   000  000   000     000   
// 0000000     0000000   0000000       000   

body
    font-family         fontMono
    font-size           15px
    background          #181818
        
// 00     00   0000000   000  000   000  
// 000   000  000   000  000  0000  000  
// 000000000  000000000  000  000 0 000  
// 000 0 000  000   000  000  000  0000  
// 000   000  000   000  000  000   000  

#main
    position            relative
    overflow            hidden
    
.buttons
    position            absolute
    left                0px
    top                 100px
    right               unset
    bottom              unset
    &:hover
        border-right    border
        border-bottom   border

.botMenu
    display             inline-block
    height              100px
    
.subMenu
    position            absolute
    width               100px
        
.canvasButton
    display             block
    
.canvasButtonInline
    display             inline-block

.botMenu
.buyButton
    position            absolute
    border-right        border
    border-top          border
    border-bottom       border
    
.brainButton
    position            absolute
    
.queueButton
    border-bottom       1px solid borderColor
    
.stoneButton
    border-right        border
    border-left         border
    
    &:last-child
        border-bottom   border
    
.buyButton
.canvasButton
.canvasButtonInline    
    width               100px
    height              100px
        
.fps
    position            absolute
    top                 0
    right               100px
    
.graph
    position            absolute
    top                 0
    left                100px
    
.speedButton
    position            absolute
    right               0
    top                 0

.opacityButton
    position            absolute
    right               0
    top                 100px

.cageButton
    position            absolute
    right               0
    top                 200px
    
.info
.debug
    display             table

.infoText
.label
    white-space         pre

.info
    color               #666
    
// 000000000   0000000    0000000   000      000000000  000  00000000
//    000     000   000  000   000  000         000     000  000   000
//    000     000   000  000   000  000         000     000  00000000
//    000     000   000  000   000  000         000     000  000
//    000      0000000    0000000   0000000     000     000  000

.tooltip
    white-space                 nowrap
    padding                     3px
    padding-left                frameWidth
    padding-right               frameWidth
    border-bottom-left-radius   frameWidth
    border-bottom-right-radius  frameWidth
    font-family                 titlebarFont
    font-size                   14px
    opacity                     0
    transform                   scaleY(0)
    transition                  transform 0.2s ease-in, opacity 0.2s ease-in
        
.box
    display                     table
    
.incr
.decr
    padding-right               10px
    padding-left                10px
    display                     inline-block
    
.incr
.decr
.btn
.value
    &:hover
        background-color        #444
    
.label
.value
    display                     inline-block
    